.btn-theme{
    width:40px;
    height:40px;
    border:none;
    background:#f8f9fa;
    transition: background 0.3s ease-in-out;
}

.btn-theme:hover{
    background: #e9ecef;
}

.navbar-toggler {
    border: none;
    outline: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}