.btn-theme{
    width:40px;
    height:40px;
    border:none;
    transition: background 0.3s ease-in-out;
}

.btn-theme:hover{
    background: var(--bg-color);
}

.navbar-toggler {
    border: none;
    outline: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}