.books-list{
    background-color: var(--container-bg-color);
}

.btn-sortby{
    display:inline-flex;
    align-items: center;
    justify-content: center;
    width:28px; 
    height:28px;
    padding: 0;
}