.searchbar-container{
    padding: 0.5rem;
    height:33px;
    background-color: var(--container-bg-color);
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.searchbar-container:hover,
.searchbar-container:focus-within{
    border-color: var(--primary-subtle-color);
}

.search-icon{
    margin-right: 0.5rem;
    color: var(--border-color);
    display: flex;
    align-items: center;
    transition: color 0.2s ease;
}

.searchbar-input{
    width:100%;
    background-color: var(--container-bg-color);
    color: var(--text-color);
    border:none;
    box-shadow:none;
    outline:none;
    font-size: 0.9rem;
}

.searchbar-input::placeholder{
    color: var(--text-subtle-color);
}